<!DOCTYPE html>
<html lang="en">
<head>
	<title>Counting Quantifiers</title>
	<meta charset="utf-8">
	<!-- mobile rendering with initial zoom level-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- JQuery -->
	<script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
	<!-- JQuery csv handling library -->
	<script src="{{ url_for('static', filename='scripts/jquery.csv.min.js') }}"></script>
	<!-- Spacy display script -->
	<script src="{{ url_for('static', filename='scripts/displacy-ent.js') }}"></script>
	<!-- Bootstrap files -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
	<script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
	<!-- stylesheet -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mystyles.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/displacy-ent.css') }}">
	<!-- favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon_io/apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon_io/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon_io/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='images/favicon_io/site.webmanifest') }}">
</head>
<body>
<nav class='container sticky'>
	<a href="#" class='navbar-brand'>
		<span style="font-size: 120%;"> <strong> CounQER </strong> </span> <span> (Counting Quantifiers and Entity-valued predicates)</span>
	</a>
	<!-- <button type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button> -->
	<ul id='navbar' class=navbar-nav>
		<!-- <li><a class="active" href="#">SPO query</a></li> -->
		<li><a class="active" href="#ftq">Free text query</a></li>
		<!-- <li><a href="#topalign">Top alignments</a></li> -->
	</ul>
</nav>

<div class="container body" id="ftq">
	<h2>Free-form query on set predicates</h2>
	<hr>
	<div class="row vertical-align no-gutter">
		<div class="col-sm-1" id="ftqRefresh">
			<button type="button" class="btn btn-link">
				<!-- <img src="images/ocat2.png" width="50"> -->
				<span class="glyphicon glyphicon-refresh" style="font-size: 2.7em"></span>
			</button>
		</div>
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon">Query</span>
				<input autoComplete="off" id="ftquery" type="text" class="form-control" name="query" placeholder="Start typing..">
			</div>
		</div>
		<div class="col-sm-1">
			<button type="button" class="btn btn-link" id="ftsearch">
				<span class="glyphicon glyphicon-search" style="font-size: 2em"></span>
			</button>
		</div>
		<div class="col-sm-3">
			<!-- <div class="btn-grp">
					<button type="button" class="btn btn-outline-info" id="ftWD-btn">
						<img src="{{ url_for('static', filename='images/wikidataLogo.png') }}" width="30" title="Wikidata">
					</button>
					<button type="button" class="btn btn-link" id="ftDBPr-btn">
						<img src="{{ url_for('static', filename='images/DBpediarawLogo.png') }}" width="30" title="DBP: raw KB">
					</button>
					<button type="button" class="btn btn-link" id="ftDBPm-btn">
						<img src="{{ url_for('static', filename='images/DBpediamapLogo.png') }}" width="30" title="DBP: mapping KB">
					</button>
			</div> -->
			<label class="radio-inline">
				<input type="radio" name="ftq_ents" id="ftq_all_ents" checked value='All entities'> All entities
			</label>
			<label class="radio-inline">
				<input type="radio" name="ftq_ents" id="ftq_matched_ents" value='Matched entities'> Matched entities
			</label>
		</div>
	</div>
	<div class="row vertical-align no-gutter">
		<div class="col-sm-12" id="displacy"></div>
	</div>
</div>

<div id="footer">
	<div class="row vertical-align no-gutter">
		<div class="col-sm-2 align-self-start text-left">
			<img src="{{ url_for('static', filename='images/mpilogo-inf-transparent.png') }}" width="150">
		</div>
		<div class="col-sm-8 align-self-center text-center">
			<a href="https://imprint.mpi-klsb.mpg.de/inf/counqer.mpi-inf.mpg.de">Imprint</a> |
			<a href="https://data-protection.mpi-klsb.mpg.de/inf/counqer.mpi-inf.mpg.de">Data Protection</a> |
			<a href="mailto:ghoshs@mpi-inf.mpg.de">Contact</a> |
			<a id='footerReturn'>Return to top</a>
		</div>
	</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/myscript.js') }}"></script>
</body>
</html>